@model IEnumerable<WardrobeApp.Models.Sho>
<link href="~/Content/ShoeStyle.css" rel="stylesheet" />
@{
    ViewBag.Title = "Index";
}

<h2 id="shoes">Shoes</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div class="row">
    @foreach (var item in Model)

    {
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <p>@Html.DisplayFor(modelItem => item.ShoeName)</p>
            <p><img src="@Html.DisplayFor(modelItem => item.ShoePhoto)" /></p>
        </div>
        @Html.ActionLink("Edit", "Edit", new { id = item.ShoeID }) |
        @Html.ActionLink("Details", "Details", new { id = item.ShoeID }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.ShoeID })
        </div>

      




        @*<table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ShoeName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ShoePhoto)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ShoeColor)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ShoeSeason)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ShoeOccasion)
                </th>
                <th></th>
            </tr>

        @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ShoeName)
                </td>
                <td>
                   <img src="@Html.DisplayFor(modelItem => item.ShoePhoto)" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ShoeColor)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ShoeSeason)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ShoeOccasion)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id=item.ShoeID }) |
                    @Html.ActionLink("Details", "Details", new { id=item.ShoeID }) |
                    @Html.ActionLink("Delete", "Delete", new { id=item.ShoeID })
                </td>
            </tr>*@
        }
            </div>

        
